<div class="text-center mt-4">
  <h1 class="text-4xl font-semibold">
    Welcome aboard!
  </h1>
  <turbo-frame id="notifications">
    <%= render(NotificationComponent.new(text: @message)) %>
  </turbo-frame>
  <div class="flex justify-center mb-8">
    <%= button_to("Hello Notification", hello_path, method: :post, class: "cursor-pointer p-4 bg-blue-100 rounded border-solid border-2 border-yellow-300 mr-4") %>
    <%= button_to("Goodbye Notification", goodbye_path, method: :post, class: "cursor-pointer p-4 bg-blue-100 rounded border-solid border-2 border-yellow-300") %>
  </div>
  <p>Some awesome site content</p>
</div>
