<div class="text-center mt-4">
  <h1 class="text-4xl font-semibold">
    Welcome aboard!
  </h1>
  <%= render(NotificationComponent.new(text: "Warning! You are about to do something.")) %>
  <p>Some awesome site content</p>
</div>
